<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039899503731-pmldoe97r8gmvpbm78plut9m0namsg9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039899503731-pmldoe97r8gmvpbm78plut9m0namsg9s</string>
	<key>API_KEY</key>
	<string>AIzaSyC0-Yqo2MFsYw6yYFSs7G0J35ms5NAkUrU</string>
	<key>GCM_SENDER_ID</key>
	<string>1039899503731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myShopApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-78398</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-78398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039899503731:ios:6ea8498f99c16744280e06</string>
	<key>DATABASE_URL</key>
	<string>https://shop-app-78398-default-rtdb.firebaseio.com</string>
</dict>
</plist>